@model IEnumerable<Organi.WebUI.Models.Entity.Contact>

@{
    ViewData["Title"] = "Index";
    var message = TempData["Message"] as string;

}

<div class="content">
    <ul class="breadcrumb">
        <li>
            <p>YOU ARE HERE</p>
        </li>
        <li><a href="#" class="active">Muracietler</a> </li>
    </ul>
    <div class="page-title">
        <i class="icon-custom-left"></i>
        <h3>Form - <span class="semi-bold">Əsas səhifə</span></h3>
    </div>
    <div class="row" id="inbox-wrapper">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="grid simple">
                        <div class="grid-body no-border email-body">
                            <br>
                            <div class="row-fluid">

                                @if (!string.IsNullOrWhiteSpace(message))
                                {
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="alert alert-success">
                                                @message
                                            </div>
                                        </div>
                                    </div>
                                }

                                <div class="row">
                                    <div class="col-12">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                            <a asp-action="index" asp-route-typeId="0" class="btn btn-secondary">Hamisi</a>
                                            <a asp-action="index" asp-route-typeId="1" class="btn btn-secondary">Gozlemede</a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Name)
                                                    </th>
                                                    <th>
                                                        p
                                                        @Html.DisplayNameFor(model => model.Email)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Message)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Answer)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.AnswerDate)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.CreatedDate)
                                                    </th>
                                                    <th>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Email)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Message)
                                                        </td>
                                                        <td>
                                                            @Html.Raw(item.Answer)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.AnswerDate)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.CreatedDate)
                                                        </td>
                                                        <td>
                                                            @if (item.Answer == null)
                                                            {
                                                                <a asp-action="Answer" asp-route-id="@item.Id" class="btn btn-sm btn-warning">
                                                                    <i class="fa fa-pencil"> </i>
                                                                </a>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


