@model List<Product>

<div class="latest-product__text">
    <h4>@ViewBag.ProductsTitle</h4>
    <div class="latest-product__slider owl-carousel">
        <div class="latest-prdouct__slider__item" >
            @foreach (var item in Model)
            {
                <a asp-controller="shop" asp-action="ShopDetails" asp-route-id="@item.Id" class="latest-product__item">
                    <div class="latest-product__item__pic" style="width:100px; height:100px;">
                        <img src="~/uploads/@item.Images.FirstOrDefault(i=>i.IsMain==true).Path" alt="">
                    </div>
                    <div class="latest-product__item__text">
                        <h6>@item.Name</h6>
                        <span>@item.price.ToString("0.00₼")</span>
                    </div>
                </a>

            }

        </div>
        <div class="latest-prdouct__slider__item">
            @foreach (var item in Model)
            {
                <a href="#" class="latest-product__item">
                    <div class="latest-product__item__pic" style="width:100px; height:100px;">
                        <img src="~/uploads/@item.Images.FirstOrDefault(i=>i.IsMain==true).Path" alt="">
                    </div>
                    <div class="latest-product__item__text">
                        <h6>@item.Name</h6>
                        <span>@item.price.ToString("0.00₼")</span>
                    </div>
                </a>

            }

        </div>
        @*<div class="latest-prdouct__slider__item">
            <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                    <img src="~/assets/img/latest-product/lp-1.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                    <h6>Crab Pool Security</h6>
                    <span>$30.00</span>
                </div>
            </a>
            <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                    <img src="~/assets/img/latest-product/lp-2.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                    <h6>Crab Pool Security</h6>
                    <span>$30.00</span>
                </div>
            </a>
            <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                    <img src="~/assets/img/latest-product/lp-3.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                    <h6>Crab Pool Security</h6>
                    <span>$30.00</span>
                </div>
            </a>
        </div>*@
    </div>

    </div>